@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}

/* banner container starts here */
.banner-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 50px;
    background-color: rgba(0,0,0,0.5);
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content p{
    color: white;
    font-weight: 400;
    font-size: 32px;

}
.banner-content h1{
    color: white;
    font-size: 72px;
    font-weight: 900;
}
/* 65% off container starts here */
.second-container{
    width: 802.9px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 120px;

}
.second-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 306px; */
    align-items: center;

}
.second-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.second-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.second-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.image-container{
    width: 802.9px;
    height: 500px;
}
.image-container img{
    height: 100%;
    width: 100%;
}

/* midnight party style section starts here */
.midnight-section{
    /* border: 2px solid red; */
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    background-image: url("images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
    background-blend-mode: overlay;

}
.leftside-content{
    height: 600px;
    width: 80%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */
    margin-left: 126px;
    margin-top: 10px;


}
.leftside-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    margin-top: 26px;
    /* margin-left: 90px; */
}

#midnight-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    margin-top: 48px;
    margin-left: 30px;
   
}
.rightside-content{
    height: 600px;
    width: 50%;
    /* border: 2px solid rgb(51, 0, 128); */
    display: flex;
    justify-content:left;
    align-items: center;
}
.rightside-content img{
    width: 320px;
    height: 464.65px;
    

}

/* holiday section starts here */
.holiday-section{
    width: 1320px;
    height: 986.07px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}
.holiday-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
    
}
.holiday-text-container h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
/* text-align: left; */
}
.holiday-text-container h1{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    /* text-align: center; */

}
.holiday-text-container p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
/* gift portion starts here */
.solid-container{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
}
.gift-container{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.girl{
    width: 550px;
    height: 430px;
    position: absolute;
    left: 58.5%; 
    top: 33.5%;
   
}
.girl img{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.discount{
    position: absolute;
    width: 220.05px;
    height: 220.05px;
    left: 45%;
    bottom: 35%;
    z-index: 1;
}

.vector{
    width: 644.22px;
    height: 150.53px;
    left: 10.36%;
    /* background-color:green; */
    background-image: radial-gradient( farthest-corner at 40px 40px,
    rgb(245, 29, 65) 10%,
    rgb(220, 13, 13) 10%);
    position: absolute;
    top: 80%;
    z-index: 1;

}
.grid-container{
    width: 1320px;
    height: 1163px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.grid-content h5{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.grid-content h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}
.grid-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 45px;
}
.grid-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  
}
.grid-items img{
    width: 424px;
    height: 450px;
}

